@font-face{
	font-family: 'exo';
	src:url('..//fonts/Exo2-Regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'exobold';
	src:url('..//fonts/Exo2-Bold.otf') format('opentype');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'exolight';
	src:url('..//fonts/Exo2-ExtraLightItalic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
}
.posts-list h2{
    font-family: 'exobold', sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
}

.episodes-list, .reported-comments{
    color: black;
    font-family:'exo', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.episode-title, .read, .update, .delete{    
    color: black;
    padding: 0.25rem;   
}

.episode-title{
    font-family: 'exo', sans-serif;
    font-size: 1.5rem;
    width: 60%;
}

.read, .update, .delete{
    font-family: 'exolight', sans-serif;
    font-size: 1.2rem;
    width: 10%;
}

.create{
    
    color: black;
    text-align: end;
}

.create a{
    text-decoration: none;
    color: black;
}

.create i{
    font-size: 2rem;
    padding-right: 0.5rem;
}

.create span{
    font-family: 'exolight', sans-serif;
    font-size: 1.2rem;
}

.rported-cmt-date{
    font-family: 'exolight';
    color: black;
    font-size: 0.75rem;
}

.rprted-cmt-txt{
    font-family: 'exo', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.validate, .delete-cmt{
    font-family: 'exolight', sans-serif;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    width: 20%;
}

.add-episode{
    margin-top: 13rem;
    width: 60%;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(205,92,92,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-episode h3{
    font-family:'exobold', sans-serif ;
    font-size: 2rem;
    color:black;
}

.post-form{
    width: 90%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title-post, #post-order, #text-post{
    display: block;
    width: 100%;
    border: 2px black solid;
    border-radius: 10px;
}

#title-post, #post-order{
    height: 1.5rem;
}

#text-post{
    height: 10rem;
}

