@font-face{
	font-family: 'exo';
	src:url('..//fonts/Exo2-Regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'exobold';
	src:url('..//fonts/Exo2-Bold.otf') format('opentype');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'exolight';
	src:url('..//fonts/Exo2-ExtraLightItalic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
}

header h2{
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 'exobold', sans-serif;
}

.desc-board{
    font-family: 'exolight', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.main-div{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-top: 5rem;
}

.menu-navigation{
    display: flex;
    flex-direction: column;
    padding-top: 2.2rem;
}

.menu-navigation a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    color: black;
    font-family:'exo', sans-serif;
    border-top: 2px black solid;
    font-size: 1.5rem;
    text-align: center;
}

.menu-navigation a:hover{
    background-color: black;
    color: whitesmoke;
}

main{
    width: 60%;
}
.posts-list h2{
    font-family: 'exobold', sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
}

.episodes-list, .reported-comments{
    color: black;
    font-family:'exo', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.episode-title, .read, .update, .delete{    
    color: black;
    padding: 0.25rem;   
}

.episode-title{
    font-family: 'exo', sans-serif;
    font-size: 1.5rem;
    width: 60%;
}

.read, .update, .delete{
    font-family: 'exolight', sans-serif;
    font-size: 1.2rem;
    width: 10%;
}

.create{
    
    color: black;
    text-align: end;
}

.create a{
    text-decoration: none;
    color: black;
}

.create a:hover{
    text-decoration: underline;
}

.create i{
    font-size: 2rem;
    padding-right: 0.5rem;
}

.create span{
    font-family: 'exolight', sans-serif;
    font-size: 1.2rem;
}

.rprtd-cmt-cel{
    width: 40%;
    text-align: justify;
}

.post-id-cel{
    width: 15%;
    text-align: center;
}

.rported-cmt-date{
    font-family: 'exolight';
    color: black;
    font-size: 0.75rem;
}

.rprted-cmt-txt{
    font-family: 'exo', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.validate, .delete-cmt{
    width: 28%;
}

.validate a, .delete-cmt a{
    font-family: 'exolight', sans-serif;
    text-align: center;
    color: black;
    font-size: 1.2rem;    
    text-decoration: none;
}

.validate a:hover, .delete-cmt a:hover{
    text-decoration: underline;
}

.add-episode{
    margin-top: 3rem;
    width: 70%;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-episode h3{
    font-family:'exobold', sans-serif ;
    font-size: 2rem;
    color:black;
}

.post-form{
    width: 90%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title-post, #post-order, #postupdate-order, #title-postupdate{
    display: block;
    width: 100%;
    border: 2px black solid;
    border-radius: 10px;
    height: 2em;
}

#text-postupdate{
    height: 30rem;
}

.tox-tinymce{
    width: 100%;

}

#title-post, #post-order{
    height: 1.5rem;
}

#text-post{
    height: 10rem;
}

