@font-face{
	font-family: 'exo';
	src:url('..//fonts/Exo2-Regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'exobold';
	src:url('..//fonts/Exo2-Bold.otf') format('opentype');
	font-style: normal;
	font-weight: bold;
}

@font-face{
	font-family: 'exolight';
	src:url('..//fonts/Exo2-ExtraLightItalic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
}

body{
    margin: 0;
    background-image: url('..//images/snowedforest.jpg');
    background-size: cover;
}
header{
    margin-top: 13rem;
    margin-bottom: 5rem;
    text-align: center;
}

h1{
    font-family:'exobold', sans-serif ;
    font-size: 3rem;
    color: whitesmoke;
}
main{
    width: 60%;
    margin: auto;    
    
}

nav{
   position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 200;
    background-color: rgb(205,92,92);
	display: flex;
	justify-content: space-around;
	align-items: center;
    height: 3em;
    font-size: 1.5rem;
}

nav a :hover{
    color: rosybrown;
}

nav a, footer a{
    text-decoration: none; 
    color: whitesmoke;
    font-family: 'exo', sans-serif;
}


.menu-navigation a{
    padding:30px 15px ;   
}


.intro{
    display: flex;
    justify-content: space-around;
    background-color:rgba(240,128,128,0.8);
    padding: 3rem;
    margin-bottom: 3rem; 
}

.intro article{
    width: 60%;
    color: whitesmoke;
    font-family:'exo' ;
}

.intro article h3{
    font-size: 2rem;
}

.intro article{
    font-size: 1.25rem;
}
.img-presentation img{
   max-width: 70%;
   height: auto;
   padding-top:30%;
}

.post-text-sample{
    height: 5.5rem;
    overflow: hidden;
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'exo', sans-serif;
}

.post-link , #send{
    display: block;
    text-decoration: none;
    border: 1px rgb(240,128,128) solid;
    background-color: whitesmoke;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 5px;
    color:rgb(240,128,128);
    font-family: 'exo', sans-serif;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

.post-link{
    padding: 0;
}

.post-link a{
    text-decoration: none;
    color:rgb(240,128,128) ;
    transform: scale(1.4);
    z-index: 2;
    
}

.post-link:hover, .post-link a:hover,#send:hover {
    color: whitesmoke;
    background-color: rgb(240,128,128);
    transform: scale(1.4);
}

.posts-list{
    margin-top: 10rem;
    padding: 1rem; 
    background-color:rgba(240,128,128,0.8) ; 
    margin-bottom: 3rem;  
}

.posts-list h2{
    font-family: 'exobold', sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;    
}

.episode{
    color: whitesmoke;
    font-family:'exo', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
}

.post-title a{
    color: whitesmoke;
}

.posts-list h3{
    font-family: 'exobold', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: underline;
    margin-bottom: 0;
}

.publication-date{
    font-size: 1rem;
    font-family: 'exolight', sans-serif;
    color: whitesmoke;
    margin-top: 0;
}

.single-episode{
    margin-top: 10rem;
    padding: 1rem; 
    background-color:rgba(240,128,128,0.8) ; 
    margin-bottom: 3rem;
}

.single-episode h2{
    font-family: 'exobold', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
}

.the-episode{
    font-family: 'exo', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 1rem;
}

.comments-form{    
    padding: 1rem;
    border: 2px whitesmoke solid;
    border-radius: 10px;
}

#comment{
    height: 6rem;
}

#pseudo, #comment{
    display: block;
    width: 99%;
    margin: auto;
    font-family: 'exo', sans-serif;
    font-size: 1.25rem;
    border: 2px whitesmoke solid;
    border-radius: 10px;
}

p{
    text-align: justify;
}

.single-comment{
    border-radius: 10px;
    border: 2px whitesmoke solid;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.reader{
    font-family: 'exolight';
    color: whitesmoke;
    font-size: 0.75rem;
}

.comment-detail{
    font-family: 'exo', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.report{
    text-align: center;   
    border: 1px rgb(240,128,128) solid;
    background-color: whitesmoke;
    padding: 0.5rem;
    width: 30%;
    font-size: 1rem;
    border-radius: 5px;
    color:rgb(240,128,128);
    font-family: 'exo', sans-serif;
    align-self: flex-end;
}

.report a{
    text-decoration: none;
    padding: 1rem;
    color:rgb(240,128,128) ;
}

.pagination, .posts-paging{
    display: flex;
    border: 2px whitesmoke solid;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    justify-content: space-around;
}

.pagination a, .posts-paging a{
    display: block;
    font-family: 'exo', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    transition: transform 800ms ease-in-out;
}

.pagination a:hover, .posts-paging a:hover{
    transform: scale(1.5) ;
}

footer{
    background-color: rgb(205,92,92);
    width: 100%;
    color: whitesmoke;    
}

.bottom-page{
    padding-left:20%;
    padding-right: 20%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}